body {
  background-color: #010417;
  color: #fefdff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

nav {
  margin-top: 20px;
  color: white;
}
nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: gray;
}

.navbar-divider {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid #cccccc;
}

/* Hero Section */
.hero {
  position: relative;

  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/cruise1.jpeg") no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffcc00;
  color: #002147;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e6b800;
}
