body {
  background-color: #010417;
  /* color: #fefdff; */
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.logo {
  width: 180px;
  height: 170px;
}

nav {
  margin-top: 20px;
  color: white;
}
nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: gray;
}

.navbar-divider {
  margin: 20px 0;
  border: 0;
  border-top: 2px solid #cccccc;
}

/* Hero Section */
.hero {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("images/cruise1.jpeg") no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 25px;
  margin-bottom: 20px;
}

.btn {
  background-color: #ffcc00;
  color: #002147;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.btn:hover {
  background-color: #e6b800;
}

/* Main Style Start */

.main-content {
  padding: 40px;
  text-align: center;
  background-color: #f4f4f4;
}
.fleet-introduction h2,
.fleet-gallery h2 {
  color: #002147;
}

.fleet-introduction p {
  color: #333;
  font-size: 18px;
}
.fleet-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.fleet-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.fleet-item {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 300px;
  transition: transform 0.3s;
}

.fleet-item img {
  width: 100%;
  border-radius: 10px;
}

.fleet-item p {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.fleet-item:hover {
  transform: scale(1.05);
}

/* Services Section */
.services ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
  text-align: left;
}

.services ul li {
  background: #002147;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  font-size: 16px;
}

footer {
  background: #002147;
  color: white;
  text-align: center;
  padding: 15px;
}

/* Main Style End */
